FORMAT: 1A
HOST: http://api.mymovie.maungawhau.net.nz/api/v1

# MyMovie

MyMovie is a web app for adding movies to a watchlist.
The server-side API provides endpoints for manipulating the items in a
watchlist - which is a list of associations between the user, a movie,
and what notifications they wish to receive.

Actions on users will be very minimal, and authentication will be via
social networks. Once authenticated with a social network the system will
retrieve and use name and avatar from the network.

The frontend UI is expected to search for movies directly on 3rd party services,
and use the movie ID when creating the watch list.

# Group Configuration

Resource with configuration data for the client,
such as
- notification types
- client id for social network auth

## Configuration [/config]

### Retrieve Configuration [GET]

+ Response 200 (application/json)


# Group Users and Authentication

Resources related to users of the system.

Login relies on authorising with a social network, and passing back
a token to use to get user details.

The system will return a JWT token, which must be passed back in an
Authorization header.

## Login [/auth/login]

User login.

Depreciated in favour of social authentication.

### Login with email and password [POST]

+ Request (application/json)

        {
            "email": "test@example.com",
            "password": "password"
        }

+ Response 200 (application/json)

        {
            "token": "<jwt token>"
        }

## Users [/users/me]

User details.

### Get detail for current user [GET]

+ Request (application/json)
    
    + Headers
    
            Authorization: JWT <token>

+ Response 200 (application/json)

        {
            "id": 1,
            "email": "james@example.com",
            "name": "James Mitchell",
            "avatar": "http://www.example.com/avatar.jpg"
        }

# Group Movies and Watchlists

## Movies [/movies/{id}]

Resource for a movie.

+ Model (application/json)

        {
            "id": 1,
            "name": "Movie Name",
            "poster": "<url>"
        }

### Retrieve a movie [GET]

+ Response 200

    [Movies][]
        

## Watchlist [/watchlists/{id}]

Resource for watchlists.

+ Model (application/json)

        {
            "id": 1,
            "movie":
                {
                    "id": 1,
                    "name": "Movie Name",
                    "poster": "<url>"
                },
            "notifications":
                [
                    {
                        "id": 1,
                        "type": "Cinema",
                        "notified": false,
                        "notified_date": ""
                    }
                ]
        }

### Retrieve watchlists [GET]

+ Request (application/json)

    + Headers

            Authorization: JWT <token>

+ Response 200

    [Watchlist][]

### Create watchlist [POST]


+ Request (application/json)

    + Headers

            Authorization: JWT <token>

    + Body
    
            {
                "movie": 1,
                "notifications":
                    [
                        "Cinema", "Rental", "Streaming"
                    ]
            }

+ Response 201

    [Watchlist][]

### Update watchlist [PUT]

+ Request (application/json)

    + Headers

            Authorization: JWT <token>

+ Response 200

    [Watchlist][]


### Delete watchlist [DELETE]

+ Request (application/json)

    + Headers

            Authorization: JWT <token>


+ Response 204 (application/json)

## Notification [/watchlists/{list_id}/notifications/{id}]

+ Model (application/json)

        {
            "id": 1,
            "type": "Cinema",
            "notified": false,
            "notified_date": ""
        }

### Create [POST]


+ Request (application/json)

    + Headers

            Authorization: JWT <token>

    + Body

            {
                "notification": "Cinema"
            }

+ Response 201

    [Notification][]

### Retrieve [GET]

+ Request (application/json)

    + Headers

            Authorization: JWT <token>

+ Response 200

    [Notification][]

### Update [PUT]

+ Request (application/json)

    + Headers

            Authorization: JWT <token>

+ Response 200

    [Notification][]

### Delete [DELETE]

+ Request (application/json)

    + Headers

            Authorization: JWT <token>

+ Response 204 (application/json)
